<%- include('common/nav'); -%>
<html>
    <head>
        <title>Labouradda.Water</title>
    </head>
    <body>
       <div class="container">
           <div class="row">
               <div class="col-md-5 cardcenter">
                 <div class="card cardlogin">
                  <% if(failed!='') { %> 
                    <div class="alert alert-danger">
                      <strong>Danger!</strong> <%= failed %>
                    </div>
                  <% } %>
                     <div class="card-header">
                         Login
                     </div>
                     <div class="card ">
                        <div class="card-body">
                            <form action="/form_login" method="post">
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email"  name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                                </div>
                               
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div>
                     </div>
                 </div>
               </div>
           </div>
       </div>

    </body>
</html>