<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Labouradda</title>
<link rel="stylesheet" href="../asset1/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="../asset1/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="../asset1/vendors/css/vendor.bundle.addons.css">
<link rel="stylesheet" href="../asset1/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="../asset1/css/style.css">
<link rel="stylesheet" href="../asset1/css/localstyle.css">
<link rel="stylesheet" href="../asset1/images/favicon_adam.png">