<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item account-dropdown">
        <a class="nav-link" data-toggle="collapse" href="#account-dropdown" aria-expanded="false" aria-controls="account-dropdown">
          <img src="../asset1/images/user.jpg" alt="Logo" class="img-sm rounded-circle"/>
          <p class="mb-0 ml-3 text-light">anupam verma<i class="caret"></i></p>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="account-dropdown">
          <ul class="nav flex-column sub-menu pl-0"> 
           <li class="nav-item">
              <a class="nav-link pl-5" href="profile">
                <span class="menu-icon">
                  <i class="mdi mdi-account"></i>
                </span>
                <span class="menu-title">Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-5" href="userlogout">
                <span class="menu-icon">
                  <i class="mdi mdi-power"></i>
                </span>
                <span class="menu-title">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      <li class="nav-item nav-category">
        <span class="nav-link">Provincial Partner</span>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <!--<li class="nav-item menu-items">
        <a class="nav-link" href="<?php echo base_url(); ?>agent/Dashboard/call_logs">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Call Logs</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <span class="menu-icon">
            <i class="mdi mdi-contacts"></i>
          </span>
          <span class="menu-title">Consumers</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="<?php echo base_url(); ?>admin/User">Add Consumers</a></li>-->
            <!--<li class="nav-item"> <a class="nav-link" href="<?php echo base_url(); ?>zdh/Dashboard/add_consumer">Add Consumers</a></li>
            <li class="nav-item"> <a class="nav-link" href="<?php echo base_url(); ?>lamp/Dashboard/list_consumers">List Consumers</a></li>
          </ul>
        </div>
      </li>-->
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#add" aria-expanded="false" aria-controls="add">
          <span class="menu-icon">
            <i class="mdi mdi-crosshairs-gps"></i>
          </span>
          <span class="menu-title">Add Role</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="add">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="add_labour">Add Labour</a></li>            
            <li class="nav-item"> <a class="nav-link" target="_blank" href="https://labouradda.net/online-thekedaar-registration">Add Dealer</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="https://labouradda.net/franchisee-opportunity">Add Franchisee</a></li>
            <li class="nav-item"> <a class="nav-link" target="_blank" href="https://labouradda.net/provincial_partner">Add City Franchisee</a></li>
            <li class="nav-item"> <a class="nav-link" href="add_book_and_enquiry">Add Book/Add Enquiry</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#registers" aria-expanded="false" aria-controls="registers">
          <span class="menu-icon">
            <i class="mdi mdi-account-plus"></i>
          </span>
          <span class="menu-title">See Role</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="registers">
          <ul class="nav flex-column sub-menu">
           <li class="nav-item"> <a class="nav-link" href="view_all_labour">View All Labours</a></li>
           <li class="nav-item"> <a class="nav-link" href="view_all_dealer">View All Dealers</a></li>
           <!-- <li class="nav-item"> <a class="nav-link" href="view_all_consumer">View All Consumers</a></li> -->
           <li class="nav-item"> <a class="nav-link" href="view_all_franchisee">View All Franchisees</a></li>
           <li class="nav-item"> <a class="nav-link" href="view_all_cityfranchisee">View All City Franchisees</a></li>
          </ul>
        </div>
      </li>
      <!-- <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
          <span class="menu-icon">
            <i class="mdi mdi-basket"></i>
          </span>
          <span class="menu-title">Marketing</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="users">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#">Request</a></li>
                   <li class="nav-item"> <a class="nav-link" href="#">Status</a></li>
            
            <li class="nav-item"> <a class="nav-link" href="#">Marketing Leads</a></li>
          </ul>
        </div>
      </li> -->
      <li class="nav-item menu-items ">
        <a class="nav-link" data-toggle="collapse" href="#transaa" aria-expanded="false" aria-controls="transaa">
          <span class="menu-icon">
            <i class="mdi mdi-basket"></i>
          </span>
          <span class="menu-title">Transaction</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="transaa">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="dealer_transaction">Dealers Transaction</a></li>
            <li class="nav-item"> <a class="nav-link" href="franchisee_transaction">Franchisees Transaction</a></li>
            <li class="nav-item"> <a class="nav-link" href="cityfranchisee_transaction">City Franchisees Transaction</a></li>
          </ul>
        </div>
      </li>
    
    </ul>
  </nav>